<style>
  video::-webkit-media-controls-start-playback-button {
    display: none;
  }

  video::-webkit-media-controls-play-button {
    display: none;
  }

  video::-webkit-media-controls {
    display: none !important;
  }

  video::-webkit-media-controls-enclosure {
    overflow: hidden !important;
  }
  .videoResponsive {
    background-color: aqua;
    width: 100%;
    height: auto;

  }
  .video-player-mobil {
    width: 100%;
    height: 600px;
    display: block;
  }
  .video-player-mobil-horizontal {

    display: none;
  }
  .video-player-tablet {
    display: none;
  }
  .video-player-desktop {
    display: none;
  }
  @media only screen and (min-width: 360px) {
    .video-player-mobil {
      width: 100%;
      height: 600px;
      display: block;
    }
    .video-player-mobil-horizontal {
      display: none;
    }
    .video-player-desktop {
      display: none;
    }
    .video-player-tablet {
      display: none;
    }
  }
  @media only screen and (min-widht: 480px) {
    .video-player-mobil {
      display: none;
    }
    .video-player-mobil-horizontal {
      width: 100%;
      height: 400px;
      display: block;
    }
    .video-player-desktop {
      display: none;
    }
    .video-player-tablet {
      display: none;
    }

  }

  @media screen and (max-width: 768px) {
    .video-player-tablet {
      width: 100%;
      height: 450px;
      display: block;
    }
    .video-player-desktop {
      display: none;
    }
    .video-player-mobil-horizontal {

      display: none;
    }
    .video-player-mobil {

      display: none;
    }
  }

  @media screen and (min-width: 1024px) {
    .video-player-desktop {
      width: 100%;
      height: 600px;
      display: block;
    }
    .video-player-tablet {
      display: none;
    }
    .video-player-mobil-horizontal {

      display: none;
    }
    .video-player-mobil {

      display: none;
    }
  }
</style>
<div id="shopify-section-[id]" class="shopify-section videoResponsive">
  {% if section.settings.video_mobil %}

    <video
      class="video-player-mobil"
      autoplay
      muted>
      <source
        class="video-player-mobil"
        src="{{ section.settings.video_mobil }}"
        type="video/mp4">
      Tu navegador no soporta la reproducci贸n de videos.
    </video>
  {% endif %}

  {% if section.settings.video_mobil_horizontal %}

    <video
      class="video-player-mobil-horizontal"
      autoplay
      muted>
      <source
        class="video-player-mobil-horizontal"
        src="{{ section.settings.video_mobil_horizontal }}"
        type="video/mp4">
      Tu navegador no soporta la reproducci贸n de videos.
    </video>
  {% endif %}
  {% if section.settings.video_tablet %}

    <video
      class="video-player-tablet"
      autoplay
      muted>
      <source
        class="video-player-tablet"
        src="{{ section.settings.video_tablet }}"
        type="video/mp4">
      Tu navegador no soporta la reproducci贸n de videos.
    </video>
  {% endif %}
  {% if section.settings.video_desktop %}

    <video
      class="video-player-desktop"
      autoplay
      muted>
      <source
        class="video-player-desktop"
        src="{{ section.settings.video_desktop }}"
        type="video/mp4">
      Tu navegador no soporta la reproducci贸n de videos.
    </video>
  {% endif %}
</div>

{% schema %}
  {
    "name": "videoResponsive",
    "tag": "section",
    "class": "videoResponsive",
    "limit": 1,
    "settings": [
      {
        "type": "text",
        "id": "video_mobil",
        "label": "video Responsive Mobil"
      }, {
        "type": "text",
        "id": "video_mobil_horizontal",
        "label": "video Responsive Mobil Horizontal"
      }, {
        "type": "text",
        "id": "video_tablet",
        "label": "video Responsive Tablet"
      }, {
        "type": "text",
        "id": "video_desktop",
        "label": "video Responsive Desktop"
      }
    ],
    "presets": [
      {
        "name": "VideoResponsive",
        "category": "Image"
      }
    ],
    "locales": {
      "es": {
        "title": "video Responsive"
      },
      "en": {
        "title": "video Responsive"
      }
    }

  }
{% endschema %}