<style>
  .videoResponsive {
    background-color: aqua;
    width: 100%;
    height: 150px;

  }
</style>
<div id="shopify-section-[id]" class="shopify-section videoResponsive"></div>
{% schema %}
  {
    "name": "videoResponsive",
    "tag": "section",
    "class": "videoResponsive",
    "limit": 1,
    "settings": [
      {
        "type": "text",
        "id": "videoo",
        "label": "videoResponsive"
      }
    ],
    "presets": [
      {
        "name": "VideoResponsive",
        "category": "Image",
        "blocks": [
          {
            "type": "heading"
          }, {
            "type": "video"
          }
        ]
      }
    ],
    "locales": {
      "es": {
        "title": "video Responsive"
      },
      "en": {
        "title": "video Responsive"
      }
    }

  }
{% endschema %}